$ball-size: 75%;
$selected-ball-border-size: 3px;

h3 {
    font-size: 1.5em;
    margin: 0.5em 0em;
}

#applet {
    max-width: 425px;
    margin: 15px auto;
    margin-bottom: 75px;
    padding: 5%;
}

.board-tile {
    border: 1px solid;
    border-radius: 2px;
}

.ball {
    width: $ball-size;
    height: $ball-size;
    margin: auto;
    border-radius: 50%;
    display: inline-block;
}

.selected-ball {
    border: $selected-ball-border-size solid;
}